<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CapaPresentacion.Formularios.FormsPrincipales.ConfigLicencias" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CapaPresentacion.Formularios.FormsPrincipales.ConfigLicencias>
            <setting name="Licencia30Dias" serializeAs="String">
                <value>8768684201930</value>
            </setting>
            <setting name="Licencia20Dias" serializeAs="String">
                <value>8768684201920</value>
            </setting>
            <setting name="Licencia10Dias" serializeAs="String">
                <value>8768684201910</value>
            </setting>
            <setting name="Licencia8Dias" serializeAs="String">
                <value>8768684201908</value>
            </setting>
            <setting name="LicenciaCompleta" serializeAs="String">
                <value>876868420192019</value>
            </setting>
            <setting name="LicenciaActual" serializeAs="String">
                <value>Licencia8Dias</value>
            </setting>
            <setting name="ConteoLicencia30" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConteoLicencia20" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConteoLicencia10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConteoLicencia8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FechaConteo" serializeAs="String">
                <value>2021-03-22</value>
            </setting>
        </CapaPresentacion.Formularios.FormsPrincipales.ConfigLicencias>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.0" newVersion="1.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>